@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../src/Grid.scss";
@import "../node_modules/bee-panel/src/Panel.scss";
@import "../node_modules/bee-layout/src/Layout.scss";
@import "../node_modules/bee-button/src/Button.scss";
// .gridDemo{
//     margin-bottom: 100px;
// }

.btn_group{
  button{
    margin: 10px;
    margin-left: 0px;
  }
}
.demo{
  .u-table-filter-column-cont{
    margin-bottom: 11px;
  }
  .u-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}