
@import "../src/Grid.scss";
@import "../node_modules/@tinper/next-ui/lib/wui-drawer/src/Drawer.css";
@import "../node_modules/@tinper/next-ui/lib/wui-clipboard/src/Clipboard.css";
@import "../node_modules/@tinper/next-ui/lib/wui-collapse/src/Collapse.css";
@import "../node_modules/@tinper/next-ui/lib/wui-layout/src/Layout.css";
// .gridDemo{
//     margin-bottom: 100px;
// }

.btn_group{
  button{
    margin: 10px;
    margin-left: 0px;
  }
}
.demo{
  .u-table-filter-column-cont{
    margin-bottom: 11px;
  }
}

.opt-btns .u-button{
  margin: 0 4px;
  color: #fff;
  background: #505F79;
  border-color: #505F79;
  &:hover, &:active{
    background: #344563;
    border-color: #505F79;
  }
}
