@import "../src/Grid.scss";
// .gridDemo{
//     margin-bottom: 100px;
// }

.btn_group{
  button{
    margin: 10px;
    margin-left: 0px;
  }
}
.demo{
  .u-table-filter-column-cont{
    margin-bottom: 11px;
  }
  .u-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


