@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-checkbox/src/Checkbox.scss";
@import "../node_modules/bee-select/src/Select.scss";
@import "../node_modules/bee-popover/src/Popover.scss";
@import  "../node_modules/bee-pagination/src/Pagination.scss";
@import "../node_modules/bee-dropdown/src/Dropdown.scss";
@import "../node_modules/bee-menus/src/Menu.scss";
@import "../node_modules/bee-table/src/Table";
.u-grid{
    th{
        .drop-menu{
            .uf{
                font-size: 12px;
                visibility: hidden;
                margin-left: 15px;
            }
        }
        &:hover{
            .drop-menu{
                .uf{
                        visibility: visible;
                }
            }
        }
    
    }
    
    .u-pagination {
        overflow: hidden;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    } 
}