@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-checkbox/src/Checkbox.scss";
@import "../node_modules/bee-select/src/Select.scss";
@import "../node_modules/bee-popover/src/Popover.scss";
@import  "../node_modules/bee-pagination/src/Pagination.scss";
@import "../node_modules/bee-dropdown/src/Dropdown.scss";
@import "../node_modules/bee-menus/src/Menu.scss";
@import "../node_modules/bee-table/src/Table.scss";
@import "../node_modules/bee-radio/src/Radio.scss";
$icon-color:#505F79;
.u-grid{
    th{
        &.u-table-expand-icon-th {
            width: 43px;
        }
        .drop-menu{
            .uf:not(.custom-icon){
                font-size: 12px;
                visibility: hidden;
                color:$icon-color;
                font-weight: bold;
                // margin-left: 7px;
                cursor: pointer;
            }
        }
        .drop-menu {
            // width: calc(100% - 18px) !important;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            display: inline-block;
            // vertical-align: middle;
            // overflow: hidden;
            // width:100%;
            i.uf{
                padding-left: 4px;
                -ms-width: 12px;//兼容火狐浏览器样式
                -ms-display:inline-block;
            }
            .drop-menu-title{
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                vertical-align: middle;
                overflow: hidden;
                max-width: calc( 100% - 21px);
                // min-width: 24px;
            }
        }
        .title-con.drop-menu{
            max-width: 100% !important;
        }
        .cansort.drop-menu {
                max-width: calc(100% - 32px) !important;
            
        }
        &:last-child{
            &.column-number-right{
                padding-right: 34px;
            }
            .cansort.drop-menu {
                width: calc(100% - 55px) !important;
            
            }
        }
        .bee-table-column-sorter {
            margin-left: 0px;
            // margin-top:4px;
            i{
                padding:0px;
            }
        }
        
        .bee-table-column-sorter>.bee-table-column-sorter-up {
            width: auto;
        }
        &:hover{
            .drop-menu{
                // background: #ccc;
                .uf{
                        visibility: visible;
                }
            }
        }
        ::last-child{
            overflow: hidden;
          }
          
    }
    .u-table-fixed-left {
        th{
            &:last-child{
                .cansort.drop-menu {
                    width: calc(100% - 32px) !important;
                
                }
            }
        }
       
    }
    .u-pagination {
        
        overflow: hidden;
        margin-bottom: 8px;
        .u-pagination-list{
            margin-left: 0px;
        }
        .data_per_select .u-select {
            width: 60px;
        }
        &.center{
            display: flex;
            justify-content: center;
        }
        &.right{
            display: flex;
            justify-content: flex-end;;
        }
        
    } 
}

.u-table-filter-column-pop-cont-item{
    .drop-menu{
        .uf{
            visibility: hidden;
        }
    }
}



.u-table-thead th .bee-table-column-sorter>.bee-table-column-sorter-down, .u-table-thead th .bee-table-column-sorter>.bee-table-column-sorter-flat, .u-table-thead th .bee-table-column-sorter>.bee-table-column-sorter-up {
    width:auto !important;
}
// 菜单在模态框中使用隐藏问题
.u-dropdown.grid-menu{
    z-index: 1800;
}
// todo
.u-table-thead th .bee-table-column-sorter{
    margin-top: 0px;
}
// toolbar
.grid-toolbar{
    padding: 7px 12px 7px 4px;
    .u-button{
        margin-left: 8px;
    }
    .dropdown-btn{
        display: inline-block;
    }
    .toolbar-btn-icon.u-button{
        width: 26px;
        min-width: 0px;
        height: 26px;
        line-height: 26px;
        padding: 0px;
        .uf{
            padding: 0px
        }
    }

    .u-button:not(.u-button-icon) i.uf {
        vertical-align: middle;
        font-size: 14px;
    }
}
.u-dropdown-menu{
    padding-top: 3px;
    padding-bottom: 8px;
    > .u-dropdown-menu-item {
        line-height: 26px;
        height: 26px;
        padding-left: 12px;
        min-width: 76px;
    }
}

// 过滤列
#filter_column_popover{
    .u-table-filter-column-pop-cont-item .drop-menu .uf{
        display: none;
    }
    &.u-popover {
        z-index: 1701;
    }
}