@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-checkbox/src/Checkbox.scss";
@import "../node_modules/bee-select/src/Select.scss";
@import "../node_modules/bee-popover/src/Popover.scss";
@import  "../node_modules/bee-pagination/src/Pagination.scss";
@import "../node_modules/bee-dropdown/src/Dropdown.scss";
@import "../node_modules/bee-menus/src/Menu.scss";
@import "../node_modules/bee-table/src/Table.scss";
@import "../node_modules/bee-radio/src/Radio.scss";
$icon-color:#505F79;
.u-grid{
    th{
        &.u-table-expand-icon-th {
            width: 43px;
        }
        .drop-menu{
            >.uf{
                font-size: 12px;
                visibility: hidden;
                color:$icon-color;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .drop-menu {
            display: inline-block;
            i.uf{
                padding-left: 4px;
                -ms-width: 12px;//兼容火狐浏览器样式
                -ms-display:inline-block;
            }
            .drop-menu-title{
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                vertical-align: middle;
                overflow: hidden;
                max-width: calc( 100% - 21px);
            }
        }
        .title-con.drop-menu{
            max-width: 100% !important;
        }
        .cansort.drop-menu {
                max-width: calc(100% - 32px) !important;
            
        }
        &:last-child{
            &.column-number-right{
                padding-right: 34px;
            }
            .cansort.drop-menu {
                width: calc(100% - 55px) !important;
            
            }
        }
        .bee-table-column-sorter {
            margin-left: 0px;
            // margin-top:4px;
            i{
                padding:0px;
            }
        }
        
        .bee-table-column-sorter>.bee-table-column-sorter-up {
            width: auto;
        }
        &:hover{
            .drop-menu{
                // background: #ccc;
                .uf{
                        visibility: visible;
                }
            }
        }
        ::last-child{
            overflow: hidden;
          }
          
    }
    .u-table-fixed-left {
        th{
            &:last-child{
                .cansort.drop-menu {
                    width: calc(100% - 32px) !important;
                
                }
            }
        }
       
    }
    .u-pagination {
        
        overflow: hidden;
        margin-bottom: 8px;
        .u-pagination-list{
            margin-left: 0px;
        }
        .data_per_select .u-select {
            width: 60px;
        }
        &.center{
            display: flex;
            justify-content: center;
        }
        &.right{
            display: flex;
            justify-content: flex-end;;
        }
        
    } 
}

.u-table-filter-column-pop-cont-item{
    .drop-menu{
        .uf{
            visibility: hidden;
        }
    }
}



.u-table-thead th .bee-table-column-sorter>.bee-table-column-sorter-down, .u-table-thead th .bee-table-column-sorter>.bee-table-column-sorter-flat, .u-table-thead th .bee-table-column-sorter>.bee-table-column-sorter-up {
    width:auto !important;
}
// 菜单在模态框中使用隐藏问题
.u-dropdown.grid-menu{
    z-index: 1800;
}
// todo
.u-table-thead th .bee-table-column-sorter{
    margin-top: 0px;
}
// toolbar
.grid-toolbar{
    padding: 7px 12px 7px 4px;
    .u-button{
        margin-left: 8px;
    }
    .dropdown-btn{
        display: inline-block;
    }
    .toolbar-btn-icon.u-button{
        width: 26px;
        min-width: 0px;
        height: 26px;
        line-height: 26px;
        padding: 0px;
        .uf{
            padding: 0px
        }
    }

    .u-button:not(.u-button-icon) i.uf {
        vertical-align: middle;
        font-size: 14px;
    }
}
.u-dropdown-menu{
    padding-top: 3px;
    padding-bottom: 8px;
    > .u-dropdown-menu-item {
        line-height: 26px;
        height: 26px;
        padding-left: 12px;
        min-width: 76px;
    }
}

// 过滤列
#filter_column_popover{
    .u-table-filter-column-pop-cont-item .drop-menu .uf{
        display: none;
    }
    &.u-popover {
        z-index: 1701;
    }
}
// fix:电脑设置屏幕显示百分比为 125% 后，Grid 固定列错位
.u-table .u-table-multiSelect-column {
    min-width: 49px;
}
// 编辑表格样式
.u-edit-grid{
    .u-table tr td {
        // 行编辑错误提示
        .triangle-flag {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .triangle-redline {
                width: 2px;
                height: 20px;
                border-left: 2px solid #ff0000;
                display: inline-block;
                margin-right: 2px;
            }

            .triangle-element {
                width: 100%;
                height: 30px;
                text-align: left;
            }

            .triangle-icon {
                color: #ff0000;
                padding-left: 3px;
                cursor: pointer;

                .uf {
                    padding: 0;
                }
            }

            .triangle_border_nw {
                width: 0;
                height: 0;
                border-width: 0 0 6px 6px;
                border-style: solid;
                border-color: transparent transparent transparent #f44336;
                position: absolute;
                top: 0px;
                left: 0px;
            }

            .triangle_border_nw_number {
                width: 0;
                height: 0;
                border-width: 0 0 6px 6px;
                border-style: solid;
                border-color: transparent transparent transparent #f44336;
                position: absolute;
                top: 2px;
                left: 2px;
            }
        }
    }

    .u-table .u-table-tbody tr td {
        padding: 0;
        padding-left: 12px;
        .u-edit-grid-cell {
            display: block;
            width: 100%;
            height: 30px;
            line-height: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}